@use "sass:map";
@import "../../../../../src/styles/variables";
@import "../../../../../src/styles/mixins";

.functionality-form__container {
  @include lightbox-container;
}

.functionality-form__box {
  @include lightbox-box;
  width: 600px;
  height: 450px;
}

.functionality-form__form {
  display: flex;
  flex-direction: column;

  & input,
  textarea {
    margin: 12px 0;
  }

  & input {
    height: 30px;
  }
}

.functionality-form__input-desc {
  height: 90px;
  resize: none;
}

.functionality-form__title {
  @include lightbox-title;
}

.functionality-form__label {
  @include font-label;
}

.functionality-form__tile {
  background-color: #15467e12;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 0;
  width: 25%;
  border-radius: 6px;
  margin: 10px 0 25px 0;

  & img {
    padding-right: 10px;
    width: 25px;
    height: 100%;
  }

  & p {
    font-weight: 500;
  }
}

.functionality-form__buttons-box {
  display: flex;
  justify-content: end;
  gap: 15px;
  margin-top: 30px;
}

.functionality-form__create-btn {
  @include second-blue-button;
}

.functionality-form__cancel-btn {
  @include cancel-button;
}

.functionality-form__close-icon {
  @include close-icon;
}
