<app-authentication>
  <h4 class="register__title">Załóż konto w aplikacji</h4>
  <form class="register__form">
    <label>Login:</label>
    <input type="text" />
    <label>Imię:</label>
    <input type="text" />
    <label>Nazwisko:</label>
    <input type="text" />
    <label>Hasło:</label>
    <input type="text" />
  </form>
  <button class="register__button">Zarejestruj się</button>
  <a routerLink="/login" class="register__bottom-link">
    Masz już konto? <span class="register__blue-link">Zaloguj się!</span>
  </a>
</app-authentication>
