@use "sass:map";
@import "../../../../src/styles/variables";
@import "../../../../src/styles/mixins";

.register__title {
  color: map.get($colors, black-color);
  font-weight: 400;
  padding-top: 10px;
}

.register__form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 0px 0 20px 0;

  input {
    @include auth-form-input;
  }
}

.register__button {
  @include blue-button;
  margin: 10px 0 5px 0;
}

.register__bottom-link {
  @include auth-form-link;
}

.register__blue-link {
  color: map.get($colors, dark-blue-color);
  font-weight: 600;
}
