<app-authentication>
  <h4 class="register__title">Załóż konto w aplikacji</h4>
  <form [formGroup]="user" class="register__form">
    <label>Login:</label>
    <input formControlName="login" />
    <app-form-error-message [formErrors]="formErrors" formInputName="login" />
    <label>Imię:</label>
    <input formControlName="first_name" />
    <app-form-error-message
      [formErrors]="formErrors"
      formInputName="first_name"
    />
    <label>Nazwisko:</label>
    <input formControlName="last_name" />
    <app-form-error-message
      [formErrors]="formErrors"
      formInputName="last_name"
    />
    <label>Hasło:</label>
    <input type="password" formControlName="password" />
    <app-form-error-message
      [formErrors]="formErrors"
      formInputName="password"
    />
  </form>
  <button (click)="onSubmit()" class="register__button">Zarejestruj się</button>
  <a routerLink="/login" class="register__bottom-link">
    Masz już konto? <span class="register__blue-link">Zaloguj się!</span>
  </a>
</app-authentication>
