@use "sass:map";
@import "../../../../src/styles/variables";
@import "../../../../src/styles/mixins";

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  padding: 10px 100px;
  background-color: #f4f6f8;

  &__logo {
    width: 200px;
  }
}

.navbar__navigation {
  background-color: transparent;
  border: none;
  font-weight: 300;
  color: #374951;
  padding: 10px 0;

  &:hover {
    border-bottom: 2px solid #5ab9d8;
  }
}

.navbar__box {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.navbar__first,
.navbar__second {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.navbar__name {
  font-size: 1.1rem;
  font-weight: 300;
  color: #374951;
}

.navbar__button {
  height: 40px;
  width: 120px;
  @include blue-button;
}
