<div class="navbar">
  <a [routerLink]="''">
    <img class="navbar__logo" src="../../assets/logo.png" alt="Logo"
  /></a>
  <div class="navbar__box">
    <div class="navbar__first">
      <button class="navbar__navigation" [routerLink]="'backlog'">
        Backlog
      </button>
    </div>
    <div class="navbar__second">
      <p *ngIf="currentUser" class="navbar__name">
        Witaj {{ currentUser.login }}!
      </p>
      <button class="navbar__button" (click)="onLogout()">Wyloguj</button>
    </div>
  </div>
</div>
