@use "sass:map";
@import "../../../../src/styles/variables";
@import "../../../../src/styles/mixins";

.task-details__container {
  @include lightbox-container;
}

.task-details__box {
  @include lightbox-box;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-bottom: 40px;
}

.task-details__header {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.task-details__title {
  @include lightbox-title;
  margin: 8px 0;
}

.task-details__task-icon {
  width: 20px;
  height: 100%;
  padding-right: 20px;
}

.task-details__status {
  margin-bottom: 30px;
}

.task-details__close-icon {
  @include close-icon;
}

.task-details__sub-title {
  font-weight: 600;
  font-size: 0.8rem;
}

.task-details__description {
  line-height: 20px;
  width: 400px;
  padding-bottom: 20px;
}

.task-details__status-select {
  width: 130px;
  font-size: 0.9rem;
  padding: 5px;
}

.task-details__status-box {
  display: flex;
  gap: 10px;
}

.task-details__status-element {
  &:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 3px;
  }
}
