<app-authentication>
  <h4 class="login__title">Zaloguj się, aby kontunuować</h4>
  <form [formGroup]="user" class="login__form">
    <label>Login:</label>
    <input formControlName="login" />
    <label>Hasło:</label>
    <input type="password" formControlName="password" />
    <app-form-error-message
      [formErrors]="formErrors"
      [formInputName]="FormInputEnum.LOGIN_PAGE"
    />
  </form>
  <button (click)="onSubmit()" class="login__button">Zaloguj się</button>
  <a routerLink="/register" class="login__bottom-link">
    Nie masz konta? <span class="login__blue-link">Zarejestruj się!</span>
  </a>
</app-authentication>
