.home__container {
  padding: 30px 130px;
}

.home__heading {
  font-weight: 400;
  color: #0e88b8;
  font-size: 1.9rem;
  padding-bottom: 20px;
  border-bottom: 1.5px solid #00000022;
}
.home__project-container {
  background-color: #ebebeb9b;
  padding: 30px;
}
.home__project {
  background-color: #ffffff;
  width: 200px;
  padding: 20px 30px 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-left: 15px solid #ff8181;
  border-radius: 5px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 2.5px 2.5px 2.8px;
  }
}

.home__project-title {
  font-weight: 500;
  font-size: 1.1rem;
  padding-bottom: 5px;
}

.home__project-text {
  padding-bottom: 20px;
}

.home__backlog-link {
  color: #3e3e3e;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8rem;

  &:hover {
    color: #c65e5e;
  }
}
