@use "sass:map";
@import "../../../../src/styles/variables";
@import "../../../../src/styles/mixins";

.functionality-details__container {
  @include lightbox-container;
}

.functionality-details__box {
  @include lightbox-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-bottom: 35px;
}

.functionality-details__close-icon {
  @include close-icon;
}

.functionality-details__title {
  @include lightbox-title;
  margin: 20px 0 2px 0;
}

.functionality-details__status {
  margin-bottom: 20px;
}

.functionality-details__sub-title {
  font-weight: 600;
  font-size: 0.8rem;
}

.functionality-details__description {
  line-height: 20px;
  width: 400px;
}

.functionality-details__tasks-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.functionality-details__task-add {
  font-size: 0.75rem;
  font-weight: 600;
  padding-right: 20px;
  color: #1799e0;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #46b4f0;
  }
}

.functionality-details__first {
  padding-right: 40px;
}

.functionality-details__under-header {
  padding-top: 20px;
  display: flex;
}

.functionality-details__tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include list-container;
  padding: 10px;
}

.functionality-details__task {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.102);
  border-radius: 2px;
  padding: 0 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.18);
    cursor: pointer;
  }
}

.functionality-details__task-icon {
  width: 15px;
  height: 100%;
  padding-right: 15px;
}

.functionality-details__task-index {
  font-weight: 600;
  color: #3d4b63ca;
  padding-right: 10px;
}

.functionality-details__task-status {
  margin-left: 10px;
}
