<div *ngIf="!isTaskDetailsActive" class="functionality-details__container">
  <div class="functionality-details__box">
    <div class="functionality-details__header">
      <img
        class="functionality-details__close-icon"
        src="../../../../assets/close.png"
        alt="Close icon"
        (click)="closeDetails()"
      />
      <h4 class="functionality-details__title">{{ functionality.name }}</h4>
      <p>{{ createdDate }}</p>
      <app-status
        class="functionality-details__status"
        [status]="functionality.status"
      ></app-status>
    </div>
    <div class="functionality-details__under-header">
      <div class="functionality-details__first">
        <p class="functionality-details__sub-title">Opis</p>
        <p class="functionality-details__description">
          {{ functionality.description }}
        </p>
        <div class="functionality-details__tasks-header">
          <p class="functionality-details__sub-title">Tasks</p>
          <a
            (click)="changeTaskFormActive(true)"
            class="functionality-details__task-add"
            >Dodaj zadanie</a
          >
        </div>
        <div class="functionality-details__tasks">
          <div
            (click)="onTaskClick(true, task)"
            class="functionality-details__task"
            *ngFor="let task of functionality.tasks; let indexOfelement = index"
          >
            <img
              class="functionality-details__task-icon"
              src="../../../assets/task-icon.png"
              alt="Icon"
            />
            <p>
              <span class="functionality-details__task-index"
                >{{ indexOfelement + 1 }}.</span
              >
              {{ task.name }}
            </p>
            <app-status
              class="functionality-details__task-status"
              [status]="task.status"
            ></app-status>
          </div>
        </div>
      </div>
      <div class="functionality-details__second">
        <app-task-form
          [functionality]="functionality"
          (closeTaskFormEvent)="changeTaskFormActive($event)"
          *ngIf="isTaskFormActive"
        ></app-task-form>
      </div>
    </div>
  </div>
</div>
<app-task-details
  (taskActiveEvent)="onTaskClick($event)"
  (detailsActiveEvent)="closeDetails()"
  [functionality]="functionality"
  [task]="clickedTask"
  *ngIf="isTaskDetailsActive"
></app-task-details>
