@use "sass:map";
@import "../../../../src/styles/variables";
@import "../../../../src/styles/mixins";

.functionality-details__container {
  @include lightbox-container;
}

.functionality-details__box {
  @include lightbox-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 600px;
  height: 450px;
}

.functionality-details__close-icon {
  @include close-icon;
}

.functionality-details__title {
  @include lightbox-title;
}
