<div class="backlog__container">
  <app-functionality-form
    *ngIf="isFormActive"
    (formActiveChangeEvent)="changeFormActive($event)"
  ></app-functionality-form>
  <div class="backlog__header-box">
    <h3 class="backlog__title">Backlog</h3>
    <button (click)="changeFormActive(true)" class="backlog__button">
      Dodaj funkcjonalność
    </button>
  </div>
  <div class="backlog__box">
    <div
      class="backlog__functionality"
      *ngFor="
        let functionality of currentUser.functionalities;
        let indexOfelement = index
      "
    >
      <img
        class="backlog__icon"
        src="../../../assets/func-icon.png"
        alt="Icon"
      />
      <p><span class="backlog__index">{{ indexOfelement + 1 }}.</span> {{ functionality.name }}</p>
    </div>
  </div>
</div>
