@use "sass:map";
@import "../../../../src/styles/variables";
@import "../../../../src/styles/mixins";

.backlog__container {
  padding: 30px 130px;
}

.backlog__button {
  @include second-blue-button;
  height: 100%;
}

.backlog__header-box {
  display: flex;
  align-items: center;
  padding: 0 0 10px 20px;
  border-bottom: 1.5px solid #00000022;
}

.backlog__title {
  font-weight: 500;
  color: #3d4b63;
  font-size: 1.3rem;
  padding-right: 100px;
}

.backlog__box {
  @include list-container;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.backlog__functionality {
  background-color: #ffffff;
  padding: 2px 20px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.2s;

  & p {
    font-size: 0.8rem;
    margin-right: 25px;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
  }
}

.backlog__icon {
  width: 22px;
  height: 100%;
  padding-right: 15px;
}

.backlog__index {
  font-weight: 600;
  color: #3d4b63ca;
  padding-right: 15px;
}
